section.additional
  h4.heading.heading--secondary.heading--line.wrapper Дополнительные товары

  .additional__cards
    .card
      .card__title Сахарозаменитель
      ul.card__table
        li.card__property
          span 1 упаковка (100г)
          span 100 Р.
      a.card__btn.card__btn--green(href="#") Заказать

    .card
      .card__title Питьевая вода
      ul.card__table
        li.card__property
          span 5 литров
          span 50 Р.
      a.card__btn.card__btn--green(href="#") Заказать

    .card
      .card__title Молоко
      ul.card__table
        li.card__property
          span 1 литр
          span 100 Р.
      a.card__btn.card__btn--green(href="#") Заказать

    .card
      .card__title Витамины
      ul.card__table
        li.card__property
          span 1 упаковка (30г)
          span 300 Р.
      a.card__btn.card__btn--green(href="#") Заказать

  include ../_components/bonus