section.advantages.wrapper
  
  h3.heading Как это работает

  .advantage
    .advantage__pic
    p.advantage__description.
      Функциональное питание содержит только полезные питательные вещества.

  .advantage
    .advantage__pic
    p.advantage__description.
      Выпускается в виде порошка, который нужно лишь залить кипятком и готово.

  .advantage
    .advantage__pic
    p.advantage__description.
      Замените один-два приема обычной еды на наше функциональное питание.

  .advantage
    .advantage__pic
    p.advantage__description.
      Уже через месяц наслаждайтесь изменениями к лучшему вашего питомца!