section.advantages.wrapper
  
  h3.heading.heading--primary Как это работает

  .advantage.advantage--1
    .advantage__pic.advantage__pic--leaf
    p.advantage__description.
      Функциональное питание содержит только полезные питательные вещества.

  .advantage.advantage--2
    .advantage__pic.advantage__pic--dining
    p.advantage__description.
      Выпускается в виде порошка, который нужно лишь залить кипятком и готово.

  .advantage.advantage--3
    .advantage__pic.advantage__pic--powder
    p.advantage__description.
      Замените один-два приема обычной еды на наше функциональное питание.

  .advantage.advantage--4
    .advantage__pic.advantage__pic--clock
    p.advantage__description.
      Уже через месяц наслаждайтесь изменениями к лучшему вашего питомца!