header.header

  nav.header__navigation
    a.logo-box
      img.logo(src="../img/vector/logo-mobile.svg", alt="Логотип 'Cat Energy'")
        
    include ../_components/shop-name

    //include ../_components/navigation
    button.header__hamburger
  .header__main
    h2.header__title Функциональное питание для котов
    span.header__subtitle Занялся собой? Займись котом!

    .header__pic
      img(src="../img/index-can-mobile.png", alt="Изображение упаковки 'Cat Energy'")

  a.btn.btn--header(href="#") Подобрать программу
