header.header

  nav.header__navigation
    a.logo-box
      img.logo
        
    include ../_components/shop-name

    include ../_components/navigation
  
  h2.header__title Функциональное питание для котов
  span.header__subtitle Занялся собой? Займись котом!

  .header__pic
    img(src="../img/index-can-mobile.png", alt="Изображение упаковки 'Cat Energy'")

  a.btn.header__btn(href="#") Подобрать программу
