header.header
  
  include ../_components/navigation

  .header__main
    .header__text-box
      h2.header__title Функциональное питание для котов
      span.header__subtitle Занялся собой? Займись котом!
      a.btn.btn--header.btn--top(href="#") Подобрать программу

    .header__pic
      img(src="../img/raster/index-can-mobile@1x.png", alt="Изображение упаковки 'Cat Energy'")

  a.btn.btn--header.btn--bottom(href="#") Подобрать программу
