section.profile
  h2.heading.heading--primary.wrapper Подбор программы
  p.profile__subtitle.wrapper.
    Заполните анкеты и мы подберем программу питания для вашего кота
  
  include ../_components/form
