section.programs.wrapper
  .program
    .program__logo.program__logo--slim
    h3.program__title Похудение
    p.program__description.
      Ваш кот весит больше собаки и почти утратил способность лазить по деревьям? Пора на диету! Cat Energy Slim поможет вашему питомцу сбросить лишний вес.
    a.program__link(href="#") Каталог Slim &rarr;

  .program
    .program__logo.program__logo--pro
    h3.program__title Набор массы
    p.program__description.
      Заработать авторитет среди дворовых котов и даже собак?
      Серия Cat Energy Pro поможет вашему коту нарастить необходимые мышцы!
    a.program__link(href="#") Каталог Pro &rarr;