extends ../_layout/layout

block title
  title Подбор программы

block main

  include ../_components/navigation
  
  include ../_sections/profile

  include ../_sections/map

  include ../_sections/footer