extends ../_layout/layout

block title
  title Главная страница

block main

  include ../_sections/header
  
  include ../_sections/programs

  include ../_sections/advantages

  include ../_sections/example

  include ../_sections/map

  include ../_sections/footer