extends ../_layout/layout

block title
  title Каталог товаров

block main

  include ../_components/navigation

  include ../_sections/catalog

  include ../_sections/additional
  
  include ../_sections/map

  include ../_sections/footer