.advantages {
  margin-bottom: 4rem;

  @include respond(phone-L) {
    display: flex;
    flex-wrap: wrap;
    margin: 0;

    border-bottom: 1px solid #e6e6e6;
  }

  @include respond(laptop) {
    margin-bottom: 0rem;  

    border: none;
  }

  @include respond(desktop) {
    margin-bottom: 3rem;  
  }
}

.advantage {
  display: flex;
  align-items: center;

  font-family: 'Arial', sans-serif;

  color: #444444;
 
    &:not(:last-child) {
      margin-bottom: 2rem;
    }

  @include respond(phone-L) {
    position: relative;
    display: block;
    width: 19rem;
  
    font-size: 1.6rem;

    &:not(:nth-child(odd)) {
      margin-bottom: 10rem;
      margin-right: 10rem;
    }

    &::after {
      content: '';
      position: absolute;
      top: 10rem;
      right: -3rem;
      z-index: 1;

      font-family: 'Oswald', sans-serif;
      font-size: 28rem;
      line-height: 0;

      color: $color-secondary;

    }
  }
  
  @include respond(tab) {
    width: 24rem;
    
    &:not(:nth-child(odd)) {
      margin-right: 15rem;
    }

    &::after {
      right: 0;
    }
  }

  @include respond(laptop) {
    width: 23rem;
    min-height: 23rem;

    &:not(:last-child) {
      margin-bottom: 0;
    }

    &:not(:last-child) {
      margin-right: auto;
    }

    &:not(:nth-child(odd)) {
      margin-bottom: 0;
    }   
  }

  @include respond(desktop) {
    width: 24rem; 
  }
}

.advantage {
  @include respond(phone-L) {
    &--1::after {
      content: "1";
    }

    &--2::after {
      content: "2";
    } 

    &--3::after {
      content: "3";
    }
    &--4::after {
      content: "4";
    }           
  }
}

.advantage__pic {
  width: 6rem;
  height: 6rem;
  flex-shrink: 0;
  margin-right: 2rem;

  background-color: $color-primary;

  &--leaf {
    background-image: url(../img/raster/sprite/sprite.png);
    background-position: .5rem -6.5rem;
    background-repeat: no-repeat;

    @include retina {
      background-image: url(../img/raster/sprite/sprite@2x.png);
      background-size: 120px 120px;
    }
  }
  &--dining {
    background-image: url(../img/raster/sprite/sprite.png);
    background-position: -6.5rem .5rem;
    background-repeat: no-repeat;

    @include retina {
      background-image: url(../img/raster/sprite/sprite@2x.png);
      background-size: 120px 120px;
    }
  }
  &--powder {
    background-image: url(../img/raster/sprite/sprite.png);
    background-position: -6.5rem -6.5rem;
    background-repeat: no-repeat;

    @include retina {
      background-image: url(../img/raster/sprite/sprite@2x.png);
      background-size: 120px 120px;
    }
  }
  &--clock {
    background-image: url(../img/raster/sprite/sprite.png);
    background-position: .5rem .5rem;
    background-repeat: no-repeat;

    @include retina {
      background-image: url(../img/raster/sprite/sprite@2x.png);
      background-size: 120px 120px;
    }
  }

  @include respond(phone-L) {
    width: 8rem;
    height: 8rem;
    margin: 0;
    margin-bottom: 3.5rem;

    &--leaf {
      background-position: 1.5rem -5.7rem;
    }
    &--dining {
      background-position: -5.7rem 1.5rem;
    }
    &--powder {
      background-position: -5.7rem -5.7rem;
    }
    &--clock {
      background-position: 1.5rem 1.5rem;
      
    }
  }
}

.advantage__description {

  @include respond(phone-L) {
    position: relative;
    z-index: 5;
  }
}