.advantages {
  margin-bottom: 4rem;
}

.advantage {
  display: flex;
  align-items: center;

  font-family: Arial, sans-serif;

  color: #444444;
 
    &:not(:last-child) {
      margin-bottom: 2rem;
    } 
}

.advantage__pic {
  width: 6rem;
  height: 6rem;
  flex-shrink: 0;
  margin-right: 2rem;

  background-color: $color-primary;
}