.advantages {
  margin-bottom: 4rem;

  @include respond(phone-L) {
    display: flex;
    flex-wrap: wrap;
    margin: 0;

    border-bottom: 1px solid #e6e6e6;
  }
}

.advantage {
  display: flex;
  align-items: center;

  font-family: 'Arial', sans-serif;

  color: #444444;
 
    &:not(:last-child) {
      margin-bottom: 2rem;
    }

  @include respond(phone-L) {
    position: relative;
    display: block;
    width: 19rem;
  
    font-size: 1.6rem;

    &:not(:nth-child(odd)) {
      margin-bottom: 10rem;
      margin-right: 10rem;
    }

    &::after {
      content: '1';
      position: absolute;
      top: 10rem;
      right: -3rem;
      z-index: 1;

      font-family: 'Oswald', sans-serif;
      font-size: 28rem;
      line-height: 0;

      color: $color-secondary;

    }
  }
  
  @include respond(tab) {
    width: 24rem;
    
    &:not(:nth-child(odd)) {
      margin-right: 15rem;
    }

    &::after {
      right: 0;
    }
  }
}

.advantage__pic {
  width: 6rem;
  height: 6rem;
  flex-shrink: 0;
  margin-right: 2rem;

  background-color: $color-primary;


  @include respond(phone-L) {
    width: 8rem;
    height: 8rem;
    margin: 0;
    margin-bottom: 3.5rem;
  }
}

.advantage__description {

  @include respond(phone-L) {
    position: relative;
    z-index: 5;
  }
}