.catalog__cards {
  
  @include respond(tab) {
    display: flex;
    flex-wrap: wrap;
    margin: 0 3rem;
    justify-content: center;
  }

  @include respond(laptop) {
    margin: 0 4rem;
    justify-content: space-around;
  }  

  @include respond(desktop-L) {
    justify-content: space-between;
  }  
}

.catalog__cards .card {
  justify-content: center;

  border-top: 1px solid $color-secondary;

  &:last-child {
    border-bottom: 1px solid $color-secondary;
  }

  @include respond(tab) {
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 32.4rem;
    padding-top: 16rem;
    margin: 7rem 0;
    text-align: center;

    border: none;
    background-color: $color-secondary;

    &--more {
      padding-top: 0;
      background-color: transparent;
    }

    &:last-child {
      border-bottom: none;
    }

    &:not(:nth-child(even)) {
      margin-right: 6rem;
    }
  }

  @include respond(laptop) {
    &:not(:nth-child(even)) {
      margin-right: 15rem;
    }
  }  

  @include respond(desktop-L) {
    width: 24.5rem;

    &:not(:nth-child(even)) {
      margin-right: 0rem;
    }

    &:not(:nth-child(4n)) {
      margin-right: 8rem;
    }
  }
}

.catalog__cards .card__description {

  @include respond(tab) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25rem;
  }

  @include respond(desktop) {
    width: 17rem;
  }  
}

.catalog__cards .card__property {

  @include respond(tab) {
    padding: .7rem 0;

    border-bottom: 1px solid #cdcdcd;
  }
}

.catalog__cards .card__btn {

  @include respond(tab) {
    width: 25rem;
  }  

  @include respond(desktop) {
    width: 17rem;
  }   
}

.card__plus ~ .card__title {

  @include respond(tab) {
    width: 17rem;
    margin-bottom: 2.5rem;
  }    

}
