.header {
  text-align: center;
  color: #fff;
  background-image: url(../img/header-background.jpg);
}

.header__navigation {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;

  
  color: #111;
  background-color: #fff;
}

.header__title {
  font-weight: 400;
  font-size: 36px;
}

.header_subtitle {

}