.header {
  margin-bottom: 2rem;
  
  text-align: center;
  letter-spacing: .5px;

  color: #fff;

  @include respond(phone-L) {
    text-align: left;
    color: $color-text-black;
  }

  @include respond(laptop) {
    position: relative;
    height: 55rem;
  }

  @include respond(desktop) {
    margin-bottom: 8rem;
  }
}

.header__navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  border-bottom: 1px solid #e6e6e6;

  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;

  background-color: #fff;

  @include respond(phone-L) {
    justify-content: flex-start;
    border: none;
  }

  @include respond(laptop) {
    position: absolute;
    top: 1rem;
    z-index: 200;
    width: 100%;
    padding: 0 4rem;

    background-color: transparent;
  }
}

.header__hamburger {
  position: relative;
  width: 2.4rem;
  height: .2rem;
  border: none;

  background-color: #222;
  cursor: pointer;

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0;
    width: 2.4rem;
    height: .2rem;

    background-color: #222;
  }

  &::before { top: -.6rem; }
  &::after  { top: .6rem; }

  @include respond(phone-L) {
    display: none;
  }
}

.header__main {
  position: relative;
  height: 30rem;
  margin-bottom: 13rem;

  background-image: url(../img/header-background.jpg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-color: #65a93c;


  @include respond(phone-L) {
    height: auto;
    margin: 0;

    background-image: none;
    background-color: #fff;
  }

  @include respond(laptop) {
    display: flex;
    align-items: stretch;
    height: 100%;
  }

}

.header__text-box {
  
  @include respond(phone-L) {
    position: relative;
    margin-left: 6rem;
    z-index: 100;
  }

  @include respond(laptop) {
    align-self: center;
  }

  @include respond(desktop) {
    flex-basis: 50%;
  }  
}

.header__title {
  padding: 2rem 0;

  font-weight: 400;
  font-size: 3.6rem;

  @include respond(phone-L) {
    width: 43rem;
    padding: 0;
    margin: 2rem 0;
    font-size: 5rem;
  }

  @include respond(tab) {
    margin: 3rem 0;

    font-size: 6rem;
  }
}

.header__subtitle {
  display: block;
  margin-bottom: 3rem;

  font-size: 1.4rem;
  text-transform: uppercase;

  @include respond(phone-L) {
    font-size: 1.8rem;
  }

  @include respond(tab) {
    margin-bottom: 4.5rem;
    font-size: 2rem;
  }
}

.header__pic {
  position: absolute;
  bottom: -13.5rem;
  left: 50%;
  margin-left: -13.5rem;


  @include respond(phone-L) {
    left: -2.5rem;
    bottom: -2rem;
    margin-left: 0;
  } 

  @include respond(laptop) {
    position: relative;
    left: 0;
    bottom: 0;
    flex-grow: 1;

    background-image: url(../img/raster/index-background-desktop@1x.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
    background-color: #65a93c;
  }

  @include respond(desktop) {
    flex-basis: 50%;
  } 
}

.header__pic img {
  
  @include respond(laptop) {
    position: absolute;
    top: 10rem;
    left: -15rem;
  } 
}
