.map {
  height: 36rem;

  background-image: url(../img/map.jpg);
  background-size: cover;
}

.address-box {
  display: flex;
  justify-content: space-between;
  padding: 3rem 2rem;

  background-color: #fff;
}

.address__title {
  font-size: 1.6rem;
  text-transform: uppercase;
}

.address {
  font-family: Arial, sans-serif;
  color: $color-text-grey;
}