.programs {

  @include respond(laptop) {
    display: flex;
    justify-content: center;
  }
}

.program {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem;

  background-color: $color-secondary;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  @include respond(phone-L) {
    flex-direction: column;
    align-items: flex-start;
    height: 30rem;
    padding: 4rem;
  }

  @include respond(laptop) {
    flex-direction: row;
    align-items: center;
    width: 45rem;
    height: auto;

    &:not(:last-child) {
      margin-right: auto;
      margin-bottom: 0;
    }
  }

  @include respond(desktop) {
    width: 57rem;
    
    &:not(:last-child) {
      margin-right: 8rem;
    }
  }  
}

.program__logo {
  width: 5rem;
  height: 5rem;
  margin-right: 2rem;

  border-radius: 50%;
  background-color: $color-primary;

  @include respond(phone-L) {
    width: 18rem;
    height: 18rem;
    margin: 0;
    margin-left: auto;
    order: 1;
  }

  @include respond(tab) {
    width: 20rem;
    height: 20rem;
  }

  @include respond(laptop) {
    width: 10rem;
    height: 10rem;
    margin: 0;
    order: 0;  
  }
}

.program__title {
  font-size: 2.4rem;
  font-weight: 400;
  text-transform: uppercase;

  @include respond(phone-L) {
    font-size: 3rem;
  }

  @include respond(laptop) {
    margin-left: auto;
    margin-right: auto;    
  }
}

.program__description {
  margin-bottom: 2rem;
  padding: 2rem 0;
  border-bottom: 1px solid #d9d9d9;

  font-family: Arial, serif-serif;

  color: #444444;

  @include respond(phone-L) {
    border: none;
    width: 60%;
    margin-bottom: 3rem;
    font-size: 1.4rem;    
  }
  
  @include respond(tab) {
    font-size: 1.6rem;    
  }

  @include respond(laptop) {
    width: 100%;  
  }  
}

.program__link {
  font-size: 1.6rem;
  text-decoration: none;
  text-transform: uppercase;

  color: inherit;

  @include respond(phone-L) {
    font-size: 1.8rem;
  }

  @include respond(tab) {
    font-size: 2rem;
  }
}