.program {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem;

  background-color: $color-secondary;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.program__logo {
  width: 5rem;
  height: 5rem;
  margin-right: 2rem;

  border-radius: 50%;
  background-color: $color-primary;
}

.program__title {
  font-size: 2.4rem;
  font-weight: 400;
  text-transform: uppercase;
}

.program__description {
  margin-bottom: 2rem;
  padding: 2rem 0;
  border-bottom: 1px solid #d9d9d9;

  font-family: Arial, serif-serif;

  color: #444444;
}

.program__link {
  font-size: 1.6rem;
  text-decoration: none;
  text-transform: uppercase;

  color: inherit;
}