a.creator(href="https://htmlacademy.ru/intensive/adaptive")
  span.creator__name HTML Academy
  svg.creator__emblem(width="27" height="34")
    use(xlink:href="../img/vector/vector.svg#logo-htmlacademy")