nav.navigation
  a.logo-box
    img.logo(src="../img/vector/logo-mobile.svg", alt="Логотип 'Cat Energy'")
        
    include ../_components/shop-name

  ul.navigation__list
    
    li.navigation__item
      a.navigation__link(href="#") Главная
    
    li.navigation__item
      a.navigation__link(href="#") Каталог продукции
    
    li.navigation__item
      a.navigation__link(href="#") Подбор программы

  button.navigation__hamburger