ul.social
  li.social__item
    a.social__link.social__link--vk(href="#") vkontakte
  li.social__item
    a.social__link.social__link--ig(href="#") facebook
  li.social__item
    a.social__link.social__link--fb(href="#") instagram