ul.social
  li.social__item
    a.social__link.social__link--vk(href="https://www.vk.com") 
      span.visually-hidden vkontakte
      svg.social__icon
        use(xlink:href="../img/vector/vector.svg#icon-vk-mobile")
  li.social__item
    a.social__link.social__link--ig(href="https://www.facebook.com") 
      span.visually-hidden facebook
      svg.social__icon
        use(xlink:href="../img/vector/vector.svg#icon-fb-mobile")
  li.social__item
    a.social__link.social__link--fb(href="https://www.instagram.com") 
      span.visually-hidden instagram
      svg.social__icon
        use(xlink:href="../img/vector/vector.svg#icon-insta-mobile")