.btn {
  display: block;
  padding: 12px 0;

  text-decoration: none;
  color: currentColor;

  &--header {
    font-size: 14px;
    margin: 0 20px;

    text-transform: uppercase;

    background-color: #68b738;
  }
}