.btn {
  display: block;
  padding: 1.2rem 0;

  text-decoration: none;
  color: currentColor;

  &--header {
    font-size: 1rem;
    margin: 0 2rem;

    text-transform: uppercase;

    background-color: $color-primary;

    @include respond(phone-L) {
      padding: 1.2rem 2rem;
      margin: 0;

      font-size: 1.6rem;
      color: #fff;
    }

    @include respond(tab) {
      padding: 1.5rem 2.5rem;
      font-size: 2rem;
    }
  }

  &--top {
    display: none;

    @include respond(phone-L) {
      display: inline-block;
    }
  }

  &--bottom{

    @include respond(phone-L) {
      display: none;
    }
  }

  &--form {
    margin-bottom: 2rem;

    font-size: 1.6rem;
    text-transform: uppercase;

    color: #fff;
    background-color: $color-primary;
    border: none;

    @include respond(tab) {
      width: 28rem;
      margin-right: 6rem;
      margin-bottom: 0;
    }      
  }
}