.creator {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;

  font-family: Arial, sans-serif;
  text-decoration: none;

  color: $color-text-grey;
  transition: all .1s;

  &:hover .creator__emblem {
    fill: $color-primary;
  }

  &:active  {
    opacity: .3;
  }

  @include respond(phone-L) {
    padding: 0;
  }
}

.creator__name {
  margin-right: 2rem;
}

.creator__emblem {
  fill: #666;

  transition: all .1s;
}