.navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  border-bottom: 1px solid #e6e6e6;

  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;

  background-color: #fff;

  @include respond(phone-L) {
    justify-content: flex-start;
    border: none;
  }

  @include respond(tab) {
    padding: 3rem 3rem;
    padding-bottom: 0;
  }

  @include respond(desktop) {
    padding: 5rem 4rem;
    padding-bottom: 0;
  }
}

.navigation__list {
  flex-basis: 100%;
  order: 1;
  
  list-style: none;
  font-weight: 500;

  color: $color-text-black;

  @include respond(phone-L) {
    display: flex;
    margin-left: auto;
    flex-basis: auto;

    font-size: 1.4rem;
    font-weight: 400;
  }

  @include respond(tab) {
    font-size: 1.8rem;
  }

  @include respond(laptop) {
    font-size: 1.6rem;
  }
  
  @include respond(desktop) {
    font-size: 2rem;
  }
}

.navigation__item {
  padding: 2rem 0;

  border-top: 2px solid #e6e6e6;
  cursor: pointer;

  @include respond(phone-L) {
    border: none;
    padding: .7rem 0;

    &:not(:last-child) {
      margin-right: 1rem;
    }

    &:hover {
      box-shadow: 0 .2rem 0 $color-primary;
    }
  }

  @include respond(tab) {
    
    &:not(:last-child) {
      margin-right: 3.5rem;
    }
  }

  @include respond(laptop) {
    padding: .5rem 0;
  }
}

.navigation__link {
  text-decoration: none;
  color: currentColor;
}

.navigation__hamburger {
  position: relative;
  width: 2.4rem;
  height: .2rem;
  border: none;

  background-color: #222;
  cursor: pointer;

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0;
    width: 2.4rem;
    height: .2rem;

    background-color: #222;
  }

  &::before { top: -.6rem; }
  &::after  { top: .6rem; }

  @include respond(phone-L) {
    display: none;
  }
}

//СТИЛИЗАЦИЯ ОТ ХЕДЕРА НА ГЛАВНОЙ СТРАНИЦЕ 

.header .navigation {
  
  @include respond(laptop) {
    position: absolute;
    top: 1rem;
    z-index: 200;
    width: 100%;
    padding: 0 4rem;

    background-color: transparent;
  
  }
}

.header .navigation__list {
  
  @include respond(laptop) {
    color: #fff;
  }
}

.header .navigation__item {
  
  @include respond(laptop) {
    &:hover {
      box-shadow: 0 .2rem 0 #fff;
    }
  }
}