.shop-name {
  display: block;

  letter-spacing: 0;
  text-decoration: none;
  text-transform: uppercase;

  color: $color-text-black;

  @include respond(phone-L) {
    margin-left: 1rem;
  }
}

footer .shop-name {
  padding: 3rem 0;

  text-align: center;
  font-size: 2.4rem;

  &:hover {
    opacity: .8;
  }

  &:active {
    opacity: .6;
  }
}

.shop-name__bold {
  font-weight: 700;
}