.social {
  display: flex;
  justify-content: center;
  margin: 0;

  list-style: none;
}

footer .social {
  padding-bottom: 2rem;

  @include respond(phone-L) {
    padding: 0;
  }
}

.social__item {

  &:not(:last-child) {
    margin-right: 1rem;
  }

  &:hover .social__icon {
    fill: $color-primary;
  }

  &:active {
    opacity: .3;
  }

  @include respond(tab) {
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }
}

.social__icon {
  width: 2rem;
  height: 2rem;

  transition: all .1s;

  @include respond(tab) {
    width: 2.5rem;
    height: 2.5rem;
  }

}